/* Changing the margins and padding of the web page to 0 */
* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0 100px;
}

/* Styling for the header */
header {
    background-color: black;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    height: 120px;
    margin-left: -100px;
    margin-right: -100px;
}

header label {
    position: absolute;
    top: 57px;
    left: 100px;
    font-size: 20px;
}

header select {
    position: absolute;
    top: 50px;
    left: 180px;
}

select {
    appearance: none;
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    font-size: 16px;
}

select option {
    background-color: #ffffff; 
    color: #333; 
    font-size: 16px;
    padding: 10px;
}

header p {
    position: absolute;
    top: 60px;
    left: 1100px;
    font-size: 17px;
}

.logo {
    padding: 30px 0px 0px 0px;
    width: 300px;
    height: auto;
}

.container {
    position: relative;
}

.container-item {
    position: absolute;
    top: 60px;
    left: 1000px;
}



/* Styling search bar */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
}

/* Styling the search button */
.container .container-item button[type="submit"] {
    position: absolute;
    top: -3px;
    left: 220px;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    transition: transform 0.3s ease; 
    margin-right: 30px;
}

.container .container-item button[type="submit"] img {
    width: 48px;
    height: 44px; 
}

.container .container-item button[type="submit"]:hover {
    transform: scale(1.1);  /*This enlarges the button when hovered over it*/
}

/* Styling the donate button */
.container .container-item a {
    text-decoration: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #FFF100;
    color: black; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ;  /*Transitions from one color to other with a gap of 0.3 seconds for easy flow*/
}

.container .container-item a:hover {
    background-color: black; 
    color: white;
}


/* Styling div to make nav bar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 70px 50px;
}

.navbar a {
    text-decoration: none;
    padding: 20px 100px;
    font-family: "Roboto Condensed", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #FFF100;
    color: black;
}

.contact {
    background-color: black;
    padding: 80px;
    color: white;
}

.contact h1 {
    padding: 0px 0px 40px 0px;
}


.form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .form h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
.form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure that padding and border are included in the width */
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
  
  .form button {
    padding: 10px 20px;
    background-color: #fff100;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
  }
  
  .form button:hover {
    background-color: black;
    color: white;
  }
 
  button:last-of-type {
    background-color: #fff100;
  }
  
  button:last-of-type:hover {
    background-color: black;
  }
  
  br {
    margin-bottom: 10px;
  }
  